<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,800;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/header.css" />
    <link rel="stylesheet" href="../assets/footer.css" />
    <link rel="stylesheet" href="../assets/blogMenu.css" />
    <title>D&N Travel - Темы блога</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__burger">
          <button class="burger"><span></span></button>
        </div>
        <div class="dropDown__menu">
          <a href="#" class="dropDown__menu__link">Главная</a>
          <a href="#" class="dropDown__menu__link">Города</a>
          <a href="#" class="dropDown__menu__link">Лайфхаки</a>
          <a href="#" class="dropDown__menu__link">Блог</a>
          <a href="#" class="dropDown__menu__link">О нас</a>
        </div>
        <nav class="nav">
          <a href="#" class="nav__link">Главная</a>
          <a href="#" class="nav__link">Города</a>
          <a href="#" class="nav__link">Лайфхаки</a>
          <a href="#" class="nav__link">Блог</a>
          <a href="#" class="nav__link">О нас</a>
        </nav>
        <div class="light__mode">
          <button class="light__mode__btn">
            <svg class="moon">
              <use xlink:href="../images/svg/moon.svg#moon"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <section class="intro">
      <div class="intro__inner">
        <div class="topics__list__wrapper">
          <ul class="topics__list">
            <h2 class="topics__list__title">Темы блога</h2>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
          </ul>
        </div>
        <div class="menu-button__wrapper">
          <div class="menu-button">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <div class="menu-circle"></div>
            <div class="menu-circle"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="search-section">
      <div class="search-section__inner">
        <h2 class="search-section__title">Lorem ipsum dolor sit amet.</h2>
        <div class="search-section__input-wrapper">
          <input type="text" placeholder="Введите текст" class="input-search" />
          <button class="search-btn">
            <svg class="search-btn-icon">
              <use
                xlink:href="../images/svg/send-button-icon.svg#send-button-icon"
              ></use>
            </svg>
          </button>
        </div>
      </div>
    </section>
    <section class="posts-section">
      <div class="container">
        <div class="post-section__inner">
          <h2 class="section-post__title">Популярные статьи</h2>
          <div class="posts__wrapper">
            <a href="" class="post__card">
              <div class="post__card__img">
                <img
                  src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                  alt=""
                />
                <p class="post__card__date">25.08.21</p>
              </div>
              <div class="post__card__content">
                <h4 class="post__card__title">Title</h4>
                <p class="post__card__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                  temporibus at nulla odio laudantium aspernatur tempora,
                  voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
                  dolor numquam!
                </p>
              </div>
            </a>
            <a href="" class="post__card">
              <div class="post__card__img">
                <img
                  src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-3.jpg"
                  alt=""
                />
                <p class="post__card__date">25.08.21</p>
              </div>
              <div class="post__card__content">
                <p class="post__card__tags"><span>TAG</span><span>TAG</span></p>
                <h4 class="post__card__title">Title</h4>
                <p class="post__card__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                  temporibus at nulla odio laudantium aspernatur tempora,
                  voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
                  dolor numquam! Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Vel temporibus at nulla odio laudantium
                  aspernatur tempora, voluptas reprehenderit iure dolorum,
                  numquam obcaecati. Neque, dolor numquam! Lorem ipsum dolor sit
                  amet consectetur adipisicing elit. Vel temporibus at nulla
                  odio laudantium aspernatur tempora, voluptas reprehenderit
                  iure dolorum, numquam obcaecati. Neque, dolor numquam! Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Vel
                  temporibus at nulla odio laudantium aspernatur tempora,
                  voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
                  dolor numquam!
                </p>
              </div>
            </a>
            <a href="" class="post__card">
              <div class="post__card__img">
                <img
                  src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-2.jpg"
                  alt=""
                />
                <p class="post__card__date">25.08.21</p>
              </div>
              <div class="post__card__content">
                <h4 class="post__card__title">Title</h4>
                <p class="post__card__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                  temporibus at nulla odio laudantium aspernatur tempora,
                  voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
                  dolor numquam!
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__links">
          <a href="#" class="footer__link">Главная</a>
          <a href="#" class="footer__link">Города</a>
          <a href="#" class="footer__link">Лайфхаки</a>
          <a href="#" class="footer__link">Блог</a>
          <a href="#" class="footer__link">О нас</a>
        </div>
        <div class="footer__social">
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use
                  xlink:href="../images/svg/socialsSprite.svg#instagram"
                ></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#vk"></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#email"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/headerBurger.js"></script>
    <script src="../js/blogBurger.js"></script>
    <script src="../js/sendBtn.js"></script>
  </body>
</html>
