<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,800;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/header.css" />
    <link rel="stylesheet" href="../assets/footer.css" />
    <link rel="stylesheet" href="../assets/blogPost.css" />
    <title>D&N Travel - 'Название поста'</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__burger">
          <button class="burger"><span></span></button>
        </div>
        <div class="dropDown__menu">
          <a href="#" class="dropDown__menu__link">Главная</a>
          <a href="#" class="dropDown__menu__link">Города</a>
          <a href="#" class="dropDown__menu__link">Лайфхаки</a>
          <a href="#" class="dropDown__menu__link">Блог</a>
          <a href="#" class="dropDown__menu__link">О нас</a>
        </div>
        <nav class="nav">
          <a href="#" class="nav__link">Главная</a>
          <a href="#" class="nav__link">Города</a>
          <a href="#" class="nav__link">Лайфхаки</a>
          <a href="#" class="nav__link">Блог</a>
          <a href="#" class="nav__link">О нас</a>
        </nav>
        <div class="light__mode">
          <button class="light__mode__btn">
            <svg class="moon">
              <use xlink:href="../images/svg/moon.svg#moon"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <section class="post-section">
      <div class="container">
        <div class="post-section__inner">
          <div class="post__img">
            <img
              src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-3.jpg"
              alt=""
            />
          </div>
          <div class="post__content">
            <p class="post__tags"><span>TAG</span><span>TAG</span></p>
            <h4 class="post__title">Title</h4>
            <p class="post__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
              temporibus at nulla odio laudantium aspernatur tempora, voluptas
              reprehenderit iure dolorum, numquam obcaecati. Neque, dolor
              numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Vel temporibus at nulla odio laudantium aspernatur tempora,
              voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
              dolor numquam! Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Vel temporibus at nulla odio laudantium aspernatur tempora,
              voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
              dolor numquam! Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Vel temporibus at nulla odio laudantium aspernatur tempora,
              voluptas reprehenderit iure dolorum, numquam obcaecati. Neque,
              dolor numquam!
            </p>
            <p class="post__date">25.08.21</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__links">
          <a href="#" class="footer__link">Главная</a>
          <a href="#" class="footer__link">Города</a>
          <a href="#" class="footer__link">Лайфхаки</a>
          <a href="#" class="footer__link">Блог</a>
          <a href="#" class="footer__link">О нас</a>
        </div>
        <div class="footer__social">
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use
                  xlink:href="../images/svg/socialsSprite.svg#instagram"
                ></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#vk"></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#email"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/headerBurger.js"></script>
  </body>
</html>
