<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,800;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/header.css" />
    <link rel="stylesheet" href="../assets/footer.css" />
    <link rel="stylesheet" href="../assets/blogMenu.css" />
    <title>D&N Travel - Blog Topics</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__burger">
          <button class="burger"><span></span></button>
        </div>
        <div class="dropDown__menu">
          <a href="#" class="dropDown__menu__link">Главная</a>
          <a href="#" class="dropDown__menu__link">Города</a>
          <a href="#" class="dropDown__menu__link">Лайфхаки</a>
          <a href="#" class="dropDown__menu__link">Блог</a>
          <a href="#" class="dropDown__menu__link">О нас</a>
        </div>
        <nav class="nav">
          <a href="#" class="nav__link">Главная</a>
          <a href="#" class="nav__link">Города</a>
          <a href="#" class="nav__link">Лайфхаки</a>
          <a href="#" class="nav__link">Блог</a>
          <a href="#" class="nav__link">О нас</a>
        </nav>
        <div class="light__mode">
          <button class="light__mode__btn">
            <svg class="moon">
              <use xlink:href="../images/svg/moon.svg#moon"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <section class="intro">
      <div class="intro__inner">
        <div class="topics__list__wrapper">
          <ul class="topics__list">
            <h2 class="topics__list__title">Темы блога</h2>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
            <li class="topics__list__item">
              <a href="">Lorem ipsum dolor sit amet, </a>
            </li>
          </ul>
        </div>
        <div class="menu-button__wrapper">
          <div class="menu-button">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <div class="menu-circle"></div>
            <div class="menu-circle"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- <footer class="footer">
      <div class="footer__inner">
        <div class="footer__links">
          <a href="#" class="footer__link">Главная</a>
          <a href="#" class="footer__link">Города</a>
          <a href="#" class="footer__link">Лайфхаки</a>
          <a href="#" class="footer__link">Блог</a>
          <a href="#" class="footer__link">О нас</a>
        </div>
        <div class="footer__social">
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use
                  xlink:href="../images/svg/socialsSprite.svg#instagram"
                ></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#vk"></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#email"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </footer> -->
    <script src="../js/headerBurger.js"></script>
    <script src="../js/blogBurger.js"></script>
  </body>
</html>
