<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,800;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/header.css" />
    <link rel="stylesheet" href="../assets/breadcrumb.css" />
    <link rel="stylesheet" href="../assets/footer.css" />
    <link rel="stylesheet" href="../assets/city.css" />
    <title>D&N Travel - Warsawa</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__burger">
          <button class="burger"><span></span></button>
        </div>
        <div class="dropDown__menu">
          <a href="#" class="dropDown__menu__link">Главная</a>
          <a href="#" class="dropDown__menu__link">Города</a>
          <a href="#" class="dropDown__menu__link">Лайфхаки</a>
          <a href="#" class="dropDown__menu__link">Блог</a>
          <a href="#" class="dropDown__menu__link">О нас</a>
        </div>
        <nav class="nav">
          <a href="#" class="nav__link">Главная</a>
          <a href="#" class="nav__link">Города</a>
          <a href="#" class="nav__link">Лайфхаки</a>
          <a href="#" class="nav__link">Блог</a>
          <a href="#" class="nav__link">О нас</a>
        </nav>
        <div class="light__mode">
          <button class="light__mode__btn">
            <svg class="moon">
              <use xlink:href="../images/svg/moon.svg#moon"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <section class="intro">
      <div class="intro__inner">
        <div class="city__discription">
          <h1 class="city__discription__title">Варшава -</h1>
          <p class="city__discription__text">
            столица Польши, архитектура которой отражает долгую и сложную
            историю города. Здесь можно увидеть готические церкви и
            неоклассические дворцы, типовые дома советского периода и
            современные небоскребы.
          </p>
        </div>
        <div class="city__attractions__links">
          <a href="#" class="city__attractions__link">Достопримечательности</a>
          <a href="#" class="city__attractions__link">Музеи</a>
          <a href="#" class="city__attractions__link">Развлечения</a>
          <a href="#" class="city__attractions__link">Рестораны & Кафе</a>
        </div>
      </div>
    </section>
    <scection class="attractions">
      <div class="container">
        <div class="attractions__inner">
          <div class="breadcrumb__wrapper">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="">Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="">Города</a>
              </li>
              <li class="breadcrumb-item active">Варшава</li>
            </ul>
          </div>
          <ul class="attractions__list">
            <li class="attractions__list__item">
              <p class="attraction__title">
                Достопримечательности <span class="triangle"></span>
              </p>
              <p class="attraction__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <ul class="attraction__card__list">
                <li class="attraction__card__list__item">
                  <a href="" class="attraction__card__hover">
                    <h4 class="attraction__card__hover__title">
                      Дворцовая площадь Варшавы
                    </h4>
                  </a>
                  <a href="" class="attraction__card">
                    <div class="attraction__card__img">
                      <img
                        src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                        alt=""
                      />
                    </div>
                    <div class="attraction__card__content">
                      <h4 class="attraction__card__title">
                        Дворцовая площадь Варшавы
                      </h4>
                      <p class="attraction__card__text">
                        Пожалуй, одна из самых красивых площадей Варшавы. Вдоль
                        ее восточной стороны протянулся Королевский замок,
                        выстроенный в начале 17 века на месте деревянной
                        крепости 14 века.
                      </p>
                    </div>
                  </a>
                </li>
                <li class="attraction__card__list__item">
                  <a href="" class="attraction__card__hover">
                    <h4 class="attraction__card__hover__title">
                      Дворцовая площадь Варшавы
                    </h4>
                  </a>
                  <a href="" class="attraction__card">
                    <div class="attraction__card__img">
                      <img
                        src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                        alt=""
                      />
                    </div>
                    <div class="attraction__card__content">
                      <h4 class="attraction__card__title">
                        Дворцовая площадь Варшавы
                      </h4>
                      <p class="attraction__card__text">
                        Пожалуй, одна из самых красивых площадей Варшавы. Вдоль
                        ее восточной стороны протянулся Королевский замок,
                        выстроенный в начале 17 века на месте деревянной
                        крепости 14 века.
                      </p>
                    </div>
                  </a>
                </li>
                <li class="attraction__card__list__item">
                  <a href="" class="attraction__card__hover">
                    <h4 class="attraction__card__hover__title">
                      Дворцовая площадь Варшавы
                    </h4>
                  </a>
                  <a href="" class="attraction__card">
                    <div class="attraction__card__img">
                      <img
                        src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                        alt=""
                      />
                    </div>
                    <div class="attraction__card__content">
                      <h4 class="attraction__card__title">
                        Дворцовая площадь Варшавы
                      </h4>
                      <p class="attraction__card__text">
                        Пожалуй, одна из самых красивых площадей Варшавы. Вдоль
                        ее восточной стороны протянулся Королевский замок,
                        выстроенный в начале 17 века на месте деревянной
                        крепости 14 века.
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="attractions__list__item">
              <p class="attraction__title">
                Достопримечательности <span class="triangle"></span>
              </p>
              <p class="attraction__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <ul class="attraction__card__list">
                <li class="attraction__card__list__item">
                  <a href="" class="attraction__card__hover">
                    <h4 class="attraction__card__hover__title">
                      Дворцовая площадь Варшавы
                    </h4>
                  </a>
                  <a href="" class="attraction__card">
                    <div class="attraction__card__img">
                      <img
                        src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                        alt=""
                      />
                    </div>
                    <div class="attraction__card__content">
                      <h4 class="attraction__card__title">
                        Дворцовая площадь Варшавы
                      </h4>
                      <p class="attraction__card__text">
                        Пожалуй, одна из самых красивых площадей Варшавы. Вдоль
                        ее восточной стороны протянулся Королевский замок,
                        выстроенный в начале 17 века на месте деревянной
                        крепости 14 века.
                      </p>
                    </div>
                  </a>
                </li>
                <li class="attraction__card__list__item">
                  <a href="" class="attraction__card__hover">
                    <h4 class="attraction__card__hover__title">
                      Дворцовая площадь Варшавы
                    </h4>
                  </a>
                  <a href="" class="attraction__card">
                    <div class="attraction__card__img">
                      <img
                        src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                        alt=""
                      />
                    </div>
                    <div class="attraction__card__content">
                      <h4 class="attraction__card__title">
                        Дворцовая площадь Варшавы
                      </h4>
                      <p class="attraction__card__text">
                        Пожалуй, одна из самых красивых площадей Варшавы. Вдоль
                        ее восточной стороны протянулся Королевский замок,
                        выстроенный в начале 17 века на месте деревянной
                        крепости 14 века.
                      </p>
                    </div>
                  </a>
                </li>
                <li class="attraction__card__list__item">
                  <a href="" class="attraction__card__hover">
                    <h4 class="attraction__card__hover__title">
                      Дворцовая площадь Варшавы
                    </h4>
                  </a>
                  <a href="" class="attraction__card">
                    <div class="attraction__card__img">
                      <img
                        src="../images/cities/warsawa/attractions/Warsaw-Palace-Square.jpg"
                        alt=""
                      />
                    </div>
                    <div class="attraction__card__content">
                      <h4 class="attraction__card__title">
                        Дворцовая площадь Варшавы
                      </h4>
                      <p class="attraction__card__text">
                        Пожалуй, одна из самых красивых площадей Варшавы. Вдоль
                        ее восточной стороны протянулся Королевский замок,
                        выстроенный в начале 17 века на месте деревянной
                        крепости 14 века.
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </scection>
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__links">
          <a href="#" class="footer__link">Главная</a>
          <a href="#" class="footer__link">Города</a>
          <a href="#" class="footer__link">Лайфхаки</a>
          <a href="#" class="footer__link">Блог</a>
          <a href="#" class="footer__link">О нас</a>
        </div>
        <div class="footer__social">
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use
                  xlink:href="../images/svg/socialsSprite.svg#instagram"
                ></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#vk"></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#email"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/headerBurger.js"></script>
  </body>
</html>
