<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/header.css" />
    <link rel="stylesheet" href="../assets/breadcrumb.css" />
    <link rel="stylesheet" href="../assets/footer.css" />
    <link rel="stylesheet" href="../assets/attractionPage.css" />
    <title>D&N Travel - Дворцовая площадь Варшавы</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__burger">
          <button class="burger"><span></span></button>
        </div>
        <div class="dropDown__menu">
          <a href="#" class="dropDown__menu__link">Главная</a>
          <a href="#" class="dropDown__menu__link">Города</a>
          <a href="#" class="dropDown__menu__link">Лайфхаки</a>
          <a href="#" class="dropDown__menu__link">Блог</a>
          <a href="#" class="dropDown__menu__link">О нас</a>
        </div>
        <nav class="nav">
          <a href="#" class="nav__link">Главная</a>
          <a href="#" class="nav__link">Города</a>
          <a href="#" class="nav__link">Лайфхаки</a>
          <a href="#" class="nav__link">Блог</a>
          <a href="#" class="nav__link">О нас</a>
        </nav>
        <div class="light__mode">
          <button class="light__mode__btn">
            <svg class="moon">
              <use xlink:href="../images/svg/moon.svg#moon"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <section class="intro">
      <div class="container">
        <div class="intro__inner">
          <h1 class="intro__inner__title">Дворцовая площадь Варшав</h1>
          <p class="intro__inner__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam,
            quaerat commodi quis numquam qui ea cumque nisi omnis voluptas
            perferendis hic, reprehenderit assumenda reiciendis. Ipsum!
          </p>
        </div>
      </div>
    </section>
    <section class="attrction">
      <div class="container">
        <div class="attraction__inner">
          <div class="breadcrumb__wrapper">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="">Варшава</a>
              </li>
              <li class="breadcrumb-item active">Дворцовая площадь Варшав</li>
            </ul>
          </div>
          <div class="attraction__discription-block">
            <div class="discription-block__content">
              <h3 class="content__title">Lorem</h3>
              <p class="content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate omnis pariatur ipsa suscipit perferendis doloribus
                consequuntur nobis deserunt quia! Deserunt quisquam ullam
                voluptatem facere debitis! lorem100
              </p>
            </div>
            <div class="discription-block__img-wrapper">
              <img
                src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-3.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="attraction__discription-block">
            <div class="discription-block__content">
              <h3 class="content__title">Lorem</h3>
              <p class="content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate omnis pariatur ipsa suscipit perferendis doloribus
                consequuntur nobis deserunt quia! Deserunt quisquam ullam
                voluptatem facere debitis!
              </p>
            </div>
            <div class="discription-block__img-wrapper">
              <img
                src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-3.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="attraction__discription-block">
            <div class="discription-block__content">
              <h3 class="content__title">Lorem</h3>
              <p class="content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate omnis pariatur ipsa suscipit perferendis doloribus
                consequuntur nobis deserunt quia! Deserunt quisquam ullam
                voluptatem facere debitis!
              </p>
            </div>
            <div class="discription-block__img-wrapper">
              <img
                src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-3.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="attraction__discription-block">
            <div class="discription-block__content">
              <h3 class="content__title">Lorem</h3>
              <p class="content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate omnis pariatur ipsa suscipit perferendis doloribus
                consequuntur nobis deserunt quia! Deserunt quisquam ullam
                voluptatem facere debitis!
              </p>
            </div>
            <div class="discription-block__img-wrapper">
              <img
                src="../images/cities/warsawa/attractions/Warsaw-Palace-Square-3.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__links">
          <a href="#" class="footer__link">Главная</a>
          <a href="#" class="footer__link">Города</a>
          <a href="#" class="footer__link">Лайфхаки</a>
          <a href="#" class="footer__link">Блог</a>
          <a href="#" class="footer__link">О нас</a>
        </div>
        <div class="footer__social">
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use
                  xlink:href="../images/svg/socialsSprite.svg#instagram"
                ></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#vk"></use>
              </svg>
            </a>
          </div>
          <div class="footer__social__wrapper">
            <a href="" class="footer__social__link">
              <svg class="social-icon">
                <use xlink:href="../images/svg/socialsSprite.svg#email"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/headerBurger.js"></script>
  </body>
</html>
