*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 360px;
  overflow-x: hidden;
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #000;
  font-size: 14px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #213f36;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* **************** INTRO ************** */

.intro {
  height: 440px;
  background: url(../images/bg/blog-menu-bg.jpeg) center no-repeat;
  background-size: cover;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.intro__inner {
  padding-right: 110px;
  position: relative;
  /* width: 100%; */
}

.menu-button__wrapper {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

/* Burger */

.menu-button {
  width: 30px;
  height: 30px;
  padding: 10px 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #375739;
  border: solid 1px #375739;
  cursor: pointer;
  transform: scale(2);
}
.menu-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 1px #375739;
}
.menu-line {
  width: 15px;
  height: 1px;
  background: #ffffff;
  transition: transform 0.3s ease;
}
.menu-button.clicked .menu-line:nth-of-type(1) {
  transform: translateY(4px) rotate(45deg);
}

.menu-button.clicked .menu-line:nth-of-type(2) {
  transform: translateY(-3px) rotate(-45deg);
  margin-top: 1px;
  /* border: solid 1px #fff; */
}
.menu-button.clicked .menu-circle:nth-of-type(1) {
  transform: scale(2.5);
  opacity: 0;
  transition: all 0.3s linear;
  border: solid 1px #fff;
}
.menu-button.clicked .menu-circle:nth-of-type(2) {
  transform: scale(1.8);
  opacity: 0;
  transition: all 0.3s linear;
  border: solid 1px #fff;
}

/*  */

.topics__list__wrapper {
  background: rgba(33, 63, 54, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  position: relative;
  border-radius: 12px;
  width: 195px;
  padding: 10px 25px;
  transition: all 0.2s ease;
  opacity: 0;
  transform-origin: right center;
  transform: scaleX(0);
}

.topics__list__wrapper.active {
  opacity: 1;
  transform: scaleX(1);
}

.topics__list__wrapper::after {
  content: "";
  border: 25px solid transparent;
  border-left: 26px solid rgba(33, 63, 54, 0.8);

  position: absolute;
  right: -50px;
  bottom: 15px;
}

.topics__list {
  padding: 0;
  list-style: none;
}

.topics__list__title {
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 10px;
}

.topics__list__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 3px 0;
}
.topics__list__item a {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}

@media (min-width: 768px) {
  .intro {
    height: 615px;
    align-items: center;
    justify-content: center;
  }
  .intro__inner {
    padding-right: 110px;
    position: relative;
    margin-left: 300px;
    margin-top: 80px;
  }

  .menu-button__wrapper {
    position: absolute;
    bottom: 25px;
    right: 30px;
  }

  .topics__list__wrapper {
    width: 290px;
  }
}

@media (min-width: 1200px) {
  .intro {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
  }
  .intro__inner {
    padding-right: 110px;
    position: relative;
    margin-left: 400px;
    margin-top: 280px;
  }

  .topics__list__title {
    font-size: 30px;
  }
  .topics__list__item {
    padding: 10px;
  }
  .topics__list__item a {
    font-size: 20px;
    line-height: 24px;
    transition: all 0.2s linear;
  }

  .topics__list__item {
    position: relative;
    display: inline-block;
  }
  .topics__list__item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(160, 114, 85, 0.3);
    opacity: 0.5;
    z-index: -1;
    content: "";
  }
  .topics__list__item:hover::before {
    animation: bg-animation 0.6s 1;
    animation-fill-mode: forwards;
  }
  @keyframes bg-animation {
    0% {
      width: 10%;
    }
    100% {
      width: 100%;
    }
  }
}

/* ************* Search Section ********** */

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.search-section__title {
  text-align: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;

  color: #000000;

  margin-bottom: 20px;
}

.search-section__input-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  height: 40px;
}

.input-search {
  width: 80%;
  padding: 10px 0;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.input-search::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.search-btn {
  height: 40px;
  background: url(../images/svg/send-button-icon.svg) center center no-repeat;
  background-size: contain;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;

  border-bottom: 2px solid #000;
}

.search-btn-icon {
  height: 40px;
  width: 40px;
  transition: all 0.2s linear;
}

.search-btn-icon.clicked {
  transform: translateX(30px);
  opacity: 0;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  .search-section__inner {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .search-section {
    background-color: #f0f0f0;
  }
  .search-section__inner {
    padding: 30px 0;
    width: 500px;
  }

  .search-section__title {
    font-size: 20px;
  }

  .input-search {
    font-size: 18px;
    background-color: #f0f0f0;
  }

  .input-search::placeholder {
    font-size: 18px;
  }
}

/* ************** Posts Section ************** */

.posts-section {
  background-color: #f0f0f0;
}
.post-section__inner {
  padding: 25px 15px;
}
.section-post__title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post__card {
  max-width: 100%;
  height: 200px;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.post__card__img {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.post__card__img img {
  width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.post__card__tags {
  display: none;
}
.post__card__date {
  font-size: 12px;
  font-weight: 300;
}

.post__card__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.post__card__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}
.post__card__text {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 14px;
  line-height: 16px;
}

@media (min-width: 533px) {
  .post__card__title {
    font-size: 22px;
  }
  .post__card__text {
    font-size: 16px;
    line-height: 18px;
  }
  .post__card__img img {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 768px) {
  .post-section__inner {
    padding-left: 25px;
    padding-right: 25px;
  }
  .posts__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .post__card {
    width: 49%;
  }

  .post__card__title {
    font-size: 20px;
  }
  .post__card__text {
    font-size: 14px;
    line-height: 16px;
  }
  .post__card__img img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .posts-section {
    background-color: #fff;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-post__title {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    position: relative;
    margin-bottom: 120px;
  }

  .section-post__title::after {
    position: absolute;
    top: 50px;
    display: block;
    content: "";
    height: 70px;
    width: 2px;
    background-color: #000;
  }

  .post__card {
    flex-direction: column;
    height: 800px;
    padding: 0;
    justify-content: flex-start;
    position: relative;
  }

  .post__card__img {
    width: 100%;
  }

  .post__card__img img {
    width: 100%;
    height: 400px;

    border-radius: 0;
  }

  .post__card__date {
    display: block;
    position: absolute;
    bottom: 15px;
    font-size: 18px;
    left: 30px;
  }

  .post__card__content {
    width: 100%;
    padding: 10px 30px 60px 30px;
    overflow: hidden;
  }

  .post__card__tags {
    display: block;
  }
  .post__card__tags span {
    margin-right: 10px;
    color: #8b852b;
    text-transform: uppercase;
  }
  .post__card__tags span:last-child {
    margin-right: 0;
  }
  .post__card__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;

    margin: 20px 0;
  }

  .post__card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    /* or 108% */

    display: flex;
    align-items: center;

    color: #000000;
    overflow: hidden;
  }
}

/* Footer  */
.footer {
  background: url(../images/bg/blog-menu-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
