.popularPlaces__card {
  width: 100%;
  max-width: 300px;
  height: 200px;

  background: url(../../assets/images/cities/warsawa/warsaw-city.jpg) center
    no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  margin-bottom: 30px;
}

.card__country p {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 15px;
}
.card__city p {
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  font-weight: 300;
}

.card__city__hover {
  display: none;
}

@media (min-width: 533px) {
  .popularPlaces__card {
    width: 49%;
  }
}
@media (min-width: 1200px) {
  .popularPlaces__card {
    width: 100%;
    max-width: 100%;
    height: 600px;
    border-radius: 0;
    filter: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    padding: 0;
    margin-bottom: 0;
  }
  .popularPlaces__bgColor {
    position: absolute;
    opacity: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    transition: all 0.2s linear;
  }

  .popularPlaces__card:hover .popularPlaces__bgColor,
  .popularPlaces__card1:hover .popularPlaces__bgColor {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .card__country p {
    display: none;
  }
  .card__city p {
    display: none;
  }
  .card__city__hover {
    text-align: center;
    display: block;
  }
  .card__city__hover p {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424,
      0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
      0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  }
}
